# Python files
*.pyc

# Backup files
backup
unit_test_backup
tree/backend/static/cropped_faces/*.jpg
tree/backend/static/fresh_photos/*.jpg
tree/backend/static/audio_recordings/*.wav

# Misc
*.idea
*.swp
*.DS_Store
